.player {
  position: fixed;
  inset: 0;
  z-index: 999;
  background: #07131e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.safarnama-player {
  width: min(100%, 700px);
  text-align: center;
}

.player-image {
  height: 70vh;
  min-height: 420px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background:
    linear-gradient(#0003,#0005),
    url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee")
    center/cover;
}

.player-title {
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;

  font-family: "Noto Sans Devanagari", sans-serif;
  font-size: 48px;
  font-weight: 800;
  color: white;

  text-shadow: 0 3px 10px #000;
}

.bus-scene {
  font-size: 130px;
  filter: drop-shadow(0 12px 10px #000);
}

.mountains {
  position: absolute;
  bottom: 20px;
  font-size: 65px;
}

.player-controls {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.player-controls button {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #172a38;
  color: white;
  font-size: 22px;
}

.player-controls .play-button {
  width: 75px;
  height: 75px;
  background: #f3cf70;
  color: #111;
  font-size: 30px;
}

.youtube-player {
  position: fixed;
  width: 1px;
  height: 1px;
  left: -100px;
  top: -100px;
  opacity: 0;
}
